@import './styles/_variables.scss';

.root {
	background-color: white;
	border-radius: 5px;
	padding: 0.5rem;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	cursor: pointer;
	// width: 100%;
}
.root:hover svg {
	opacity: 1;
}

.colors {
	background-color: '#dae1e4';
	height: 150px;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	color: black;
	padding-top: 0.5rem;
	font-size: 1rem;
	position: relative;
	padding-bottom: 13px;
	text-decoration: none !important;
}

.emoji {
	margin-bottom: 3px;
	margin-left: 0.5rem;
	font-size: 1.5rem;
	text-decoration: none !important;
}
.paletteName {
	text-decoration: none !important;
}

.miniColor {
	height: 25%;
	width: 20%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	margin-bottom: -3.5px;
}

.delete {
}

.deleteIcon {
	color: white;
	background-color: #eb3d30;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 5px;
	bottom: 1;
	padding: 5px;
	z-index: 10;
	text-align: center;
	opacity: 0;
}
