.button {
	width: 49%;
	/* margin: 10px; */
}

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.buttons {
	width: 87%;
	/* background-color: pink; */
}
