.Palette {
  height: 100vh;
}

.Palette-colors {
  height: 90%;
}

.slider {
  width: 340px;
  margin: 2px 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}
.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle {
  margin-top: -3px;
  height: 13px;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: green;
  outline: "green";
  border: 2px solid green;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: pan-x;
}
.rc-slider-handle:active {
  background-color: red;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: none;
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
