.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Palette-colors {
  height: 90%;
}

.Palette-footer {
  color: black;
  height: 28px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
}
.emoji {
  font-size: 1.5rem;
  margin-left: 10px;
}
