.navContainer {
	display: flex;
	flex-direction: row;
	justify-content: right;
}
.newPaletteHeader {
	display: flex;
	flex-direction: row;
	justify-content: right;

	gap: 10px;
}
.savePaletteForm {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

.navButtons {
}

.AppBar {
	flex-direction: row;
	justify-content: space-between;
	height: 64px;
}

.root {
	display: flex;
}

.saveButton {
	padding: 50px;
	padding-left: 100px;
	margin-right: 100px;
}

.buttons {
	display: flex;
	gap: 10px;
}
