@import './styles/_variables.scss';
// import bg from './styles/bg.svg';

.root {
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-color: #2a60e2;
	background-image: url('./styles/bg.svg');
}

.container {
	width: 50%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (max-width: $breakpoint-lg) {
	.container {
		width: 80%;
		margin-left: 30px;
		margin-right: 30px;
	}
}

.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	color: white;
	align-items: center;
}

.nav a {
	color: white;
	text-decoration: none;
}

.palettes {
	box-sizing: border-box;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 30%);
	gap: 5%;
}

@media (max-width: $breakpoint-md) {
	.palettes {
		grid-template-columns: repeat(2, 50%);
	}
}

@media (max-width: $breakpoint-xsm) {
	.palettes {
		grid-template-columns: repeat(1, 100%);
		gap: 2%;
	}
}

.linkNoUnderline {
	text-decoration: none !important;
}
